<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container class="example-container">
    <!--<mat-sidenav mode="side" opened>-->
    <mat-sidenav #sideNav mode="over">
        <div fxFlex="100%">
            <a [routerLink]="['./home']">Lab: Upload file example</a><br>
            <a [routerLink]="['./link1']">Component &Selector</a><br>
            <a [routerLink]="['./link2']">Data with Event Binding</a><br>
            <a [routerLink]="['./link3']">Directives - ngFor/ngClass/ngStyle</a><br>
            <a [routerLink]="['./link4']">Decorate - input & output EventEmitter</a><br>
            <a [routerLink]="['./link5']">Hooks</a><br>
            <a [routerLink]="['./link6']">Roters</a><br>
            <a [routerLink]="['./link7']">Observables</a><br>
            <a [routerLink]="['./link8']">Forms</a><br>
            <a [routerLink]="['./link9']">Student Modules</a><br>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>I'm a Toolbar</mat-toolbar>
        <button mat-button (click)="sideNav.toggle()">
            (Click me) to open the sidenav
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>